@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

/* general properties to reset the user agent style sheet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  background-color: #1e2338;
  color: white;
}
h1 {
  font-family: "Overpass", sans-serif;
}
header {
  margin: 2rem 0 0 2rem;
}
main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}

section:not(:first-child) {
  background-color: #121522;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  width: 2rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.wraper {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

/* just make  a smooth animation when the page as load*/
@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* card properties */
.card {
  background-color: #373f60;
  border-radius: 5px;
  padding: 1rem;
  transition: ease-in-out 800ms;
  animation: moveUp 300ms ease;
  max-width: 100em;
}

.card:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #3c4057;
}

.card-header {
  width: 100%;
  height: 4.5rem;
  margin: 0;
  padding: 20px;
}

.card-header_input {
  width: 100%;
  height: 3rem;
  margin: 0;
  padding: 20px;
}

.dashboard .card {
  padding: unset;
  overflow: hidden;
  width: 100%;
}

details.card {
  cursor: pointer;
  max-width: unset;
}

/* dashboard */
.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  background-color: #293049;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 200rem;
  width: 80%;
}
.dashboardItemsContainer {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  place-items: start center;
}

.containerCardHistogramme{
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
}

@media (max-width: 768px) {
  .dashboardItemsContainer {
    grid-template-columns: 1fr;
  }
  .dashboard{
    width: 100%;
    margin: unset;
    background-color: unset;
  }

}

/* faq container */
.faq {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  width: 70%;
  max-width: 100rem;
  
}
details p {
  color: #ccc;
}

/* github container */
.github {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
  background-color: #293049;
  border-radius: 5px;
  padding: 0.5rem;
  transition: 300ms ease;
}
.github:hover {
  background-color: #1e2338;
}
.containerGithub {
  width: 50%;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem 0;
}

footer img{
  mix-blend-mode: darken;
}