@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    color: white;
}
body{
    background-color: #1e2338;
}
h1{
   
    
    font-family: 'Overpass', sans-serif;
}
.wraper{
    margin: 2rem 0 2rem 1rem;
    gap: 1rem;
    display:flex;
    flex-direction: column;
}
.card{
    background-color: #373f60;
    border-radius: 5px;
    padding: 1rem;
    transition: ease-in-out 300ms;
    
}

.card:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    background-color: #4a4f6b;
}
.card-header{
    
    width: 100%;
    height: 5rem;
    margin:0;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.map{
    grid-area: map;
}
.hist1{
    grid-area: hist1;
}
.global-container{
    display: grid;
    gap: 1rem;
    grid-template : "map hist1" 1fr / 1fr 1fr;
}